---
import Layout from '../../../layouts/Layout.astro';
---

<Layout 
    title="LoopSize"
    description=""
>
    <div id="container">
        <main>
            <h1>LoopSize</h1>
        </main>
    </div>
</Layout>