---
import Layout from '../../../layouts/Layout.astro';
---

<Layout 
    title="LoopSize"
    description=""
>
    <div id="container">
        <main>
            <section>
                <h1 class="black">LoopSize</h1>
            </section>
            <section>
                
            </section>
            <footer>
                
            </footer>
        </main>
    </div>
</Layout>

<style>
	img.avatar {
		border-radius: 50%;
	}

	p.profession {
		margin: 0px;
		padding: 0px;
	}
</style>