---
import Layout from '../../../layouts/Layout.astro';
---

<Layout 
    title="Terms Of Use – LoopSize",
    favicon="/favicon-loopsize-32x32.png"
>
    <div id="container">
        <main>
            <section class="black">
                <h1>Terms Of Use – LoopSize</h1>

                <h3>1. Purpose</h3>

                <p>The LoopSize application is intended to help users obtain measurements of ring diameter and circumference, as well as display conversions into different international ring size standards.</p>

                <h3>2. Use of the Application</h3>

                <p>The application is provided for informational purposes only.</p>

                <p>The user agrees to use LoopSize solely for personal and non-commercial purposes, unless expressly authorized by the developer.</p>

                <p>The developer does not guarantee that the measurements displayed are error-free or suitable for all purposes (such as jewelry manufacturing on a commercial scale).</p>

                <h3>3. Responsibility</h3>

                <p>LoopSize is not responsible for decisions made based on the information provided by the application.</p>

                <p>The use of the application is the sole responsibility of the user.</p>

                <h3>4. Intellectual Property</h3>

                <p>All rights to the application—including its name, design, logo, source code, and other elements—belong to the developer and may not be copied, modified, or distributed without prior authorization.</p>

                <h3>5. Changes to the Terms</h3>

                <p>These Terms of Use may be updated periodically. Continued use of the application after such changes means that the user accepts the new terms.</p>

                <h3>6. Contact</h3>

                <p>For questions regarding these Terms of Use, please contact us at: <a href="mailto:adrianosouzacostaios@gmail.com">adrianosouzacostaios@gmail.com</a></p>
            </section>
        </main>
    </div>
</Layout>