---
import Layout from "../../../layouts/Layout.astro";

const title = 'Terms Of Use – KuboRush'
---

<Layout
    title={title},
    favicon="favicon-kuborush-32x32.png"
>
    <main class="container safe-area">
        <section class="black">
            <h1>{title}</h1>

            <h3>1. Purpose</h3>

            <p>
                KuboRush is an application designed strictly for entertainment and gaming
                purposes. Its goal is to provide a casual gaming experience for the user.
            </p>

            <h3>2. Use of the Application</h3>

            <p>
                The application is provided "as is" for personal enjoyment.
            </p>

            <p>
                The user agrees to use KuboRush solely for personal and non-commercial
                purposes. You may not sell, rent, or exploit the game or its content for
                commercial gain without express authorization from the developer.
            </p>

            <p>
                The user agrees not to attempt to reverse engineer, modify, or create
                derivative works based on the game's code or assets.
            </p>

            <h3>3. Limitation of Liability</h3>

            <p>
                KuboRush is provided without warranties of any kind, whether express or
                implied. The developer is not responsible for:
            </p>
            <ul>
                <li>Any loss of game progress or data due to technical errors;</li>
                <li>
                    Issues related to device compatibility or performance during gameplay;
                </li>
                <li>
                    Decisions or actions taken by the user based on the gaming experience.
                </li>
            </ul>

            <h3>4. Intellectual Property</h3>

            <p>
                All rights to the application—including its name, logo, characters, game
                mechanics, graphics, audio, source code, and other visual elements—belong
                exclusively to the developer and/or Adrian Souza Costa.
            </p>
            <p>
                Unauthorized copying, reproduction, or distribution of any game assets is
                strictly prohibited.
            </p>

            <h3>5. Changes to the Terms</h3>

            <p>
                These Terms of Use may be updated periodically to reflect updates in the
                game or legal requirements. Continued use of KuboRush after such changes
                constitutes acceptance of the new terms.
            </p>

            <h3>6. Contact</h3>

            <p>
                For questions regarding these Terms of Use, please contact us at:
                <a href="mailto:adrianosouzacostaios@gmail.com">adrianosouzacostaios@gmail.com</a>
            </p>
        </section>
    </main>
</Layout>
