---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Projects from "./Projects.astro";
---

<main class="container full-height">
	<section>
		<Image
			src="https://avatars.githubusercontent.com/u/11352503?v=4"
			alt="Adriano Souza Costa"
			width="120"
			height="120"
			loading="eager"
			priority={true}
			class="avatar"
		/>

		<h1 class="name black">Adriano Souza Costa</h1>

		<p class="profession">iOS/MacOS Developer</p>

		<p class="black">
			Swift • SwiftUI • UIKit • Objective-C • SwiftData/CoreData • CI/CD •
			React Native
		</p>
	</section>

	<section>
		<p>
			iOS/macOS Developer with 10+ years of experience in Swift, SwiftUI,
			and UIKit, working on the development of scalable apps with a strong
			focus on UX, performance, and clean architecture. Solid expertise in
			integrating REST APIs, iCloud, and Apple technologies. Seeking new
			challenges in impactful projects.
		</p>

		<section id="resume">
			<a href="/resume" class="resume-link">
				<span>See my resume</span>
				<Icon name="right-arrow" width={12} height={12} />
			</a>
		</section>

		<p id="social">
			<a
				href="https://x.com/didisouzacosta"
				target="_blank"
				aria-label="X"
				aria-labelledby="X"
			>
				<Icon name="x" class="social-icon black" />
			</a>

			<a
				href="https://github.com/didisouzacosta"
				target="_blank"
				aria-label="Github"
				aria-labelledby="Github"
			>
				<Icon name="github" class="social-icon black" />
			</a>

			<a
				href="https://www.linkedin.com/in/adrianosouzacosta"
				target="_blank"
				aria-label="Linkedin"
				aria-labelledby="Linkedin"
			>
				<Icon name="linkedin" class="social-icon black" />
			</a>
		</p>
	</section>

	<Projects />
</main>

<style>
	img.avatar {
		border-radius: 50%;
	}

	p.profession {
		margin: 0px;
		padding: 0px;
	}

	ul.skills {
		display: flex;
		padding: 0px;
		margin: 16px 0px 16px 0px;
		list-style: none;
	}

	ul.skills li {
		margin-right: 8px;
		margin-left: 8px;
	}

	#container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
		align-items: center;
	}

	#social {
		display: flex;
		margin-top: 32px;
		align-items: center;
	}

	#social a + a {
		margin-left: 16px;
	}

	#resume {
		margin-top: 32px;
		margin-bottom: 48px;
	}

	#resume a.resume-link {
		background-color: black;
		color: white;
		padding: 8px 12px 8px 12px;
		border-radius: 8px;
	}

	#resume a.resume-link span {
		margin-right: 4px;
	}

	.social-icon {
		width: 22px;
		height: 22px;
	}

	@media (prefers-color-scheme: dark) {
		#resume a.resume-link {
			background-color: white;
			color: black;
		}
	}
</style>